<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>logisticservice</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>  
      <!-- 完整的远程调用请求Url:http://localhost:8080/HessianSpringServer/sr/* -->  
      <servlet-name>springremoting</servlet-name>  
      <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>  
      <init-param>  
          <param-name>contextConfigLocation</param-name>  
          <!-- 服务启动加载 springremoting-servlet.xml-->  
          <param-value>classpath:/springremoting-servlet.xml</param-value>  
      </init-param>  
      <load-on-startup>1</load-on-startup>  
  </servlet>  
  <servlet-mapping>  
      <servlet-name>springremoting</servlet-name>  
      <url-pattern>/hessian/*</url-pattern>  
  </servlet-mapping>
</web-app>